<!DOCTYPE html>
<!--
Created by Maurice Johnson - 2021
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NFT App</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script src="js/index.js"></script>
</head>
<body>
<div th:insert="nav :: navFrag"></div>
<div class="container">
    <div class="container" th:if="${error != null && addr != null}">
        <p th:text="${error}"></p>
    </div>
    <div class="container" th:if="${osResponse != null}">
        <h1 th:text="${osResponse.getAssetContract().getName()}"></h1>
        <div class="container">
            <img th:src="${osResponse.getImageUrl()}" />
            <p th:text="${osResponse.getAssetContract().getAddress()}"></p>
            <p th:text="${osResponse.getAssetContract().getDescription()}"></p>
            <p th:text="'Floor Price: '+${osResponse.getCollection().getStats().getFloorPrice()}+' ETH'"></p>
        </div>
    </div>
</div>


</body>
</html>