<!DOCTYPE html>
<!--
Created by Maurice Johnson - 2021
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NFT App</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script src="js/index.js"></script>
</head>
<body>
<div th:insert="nav :: navFrag"></div>
<div class="container">
    <h1>Welcome to NFT App</h1>
</div>


</body>
</html>